.cool-black{
  background: rgb(34, 34, 34);
  border-color: rgb(34, 34, 34);
}
.official-red{
  background: rgb(198, 47, 47);
  border-color: rgb(198, 47, 47);
}
.cute-pink{
  background: rgb(250, 136, 176);
  border-color: rgb(250, 136, 176);
}
.sky-blue{
  background: rgb(83, 178, 250);
  border-color: rgb(83, 178, 250);
}
.fresh-green{
  background: rgb(69, 190, 122);
  border-color: rgb(69, 190, 122);
}
.wealthy-gold{
  background: rgb(210, 143, 71);
  border-color: rgb(210, 143, 71);
}
